@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    background-color: rgb(52, 51, 52);
    color: white;
    font-family: Roboto;
}

.wrapper {}

.example {
    padding: 80px 0px;
    &__container {
        padding: 0px 15px;
        margin: 0px auto;
//Переводим в REM 
//делим ширину по макету (1020px+30px)
//на 16 (размер шрифта по умолчанию)
        max-width: 65.625rem;
        position: relative;
        &::before{
            content:"";
            background: url("./img/BackgroundPattern290.svg") 0 0 / 100%; // можем добавить no-repeat после 100% если это картинка а не обои 
            position: absolute;
            right:0;
            // Ширину картинки по макету делим на ширину example__container (родителя с position:relative;)
            // умножаем на 100  153 / 1050 * 100 = 14.57%
            width: 14.57%;
            //Высоту картинки по макету делим на ширину example__container (родителя с position:relative;)
            //умножаем на 100  241 / 1050 * 100 = 22.95%
            padding-top: 22.95%; // через этот padding мы задаем высоту картинки
            //Половина высоты example__container (родителя с position:relative;)
            top: 50%;
            //Сдвиг вверх на половину 
            //ширину/высоты картинки (меняется)
            transform: translate(0, -50%); 
            z-index: -1;
            
        }
    }

    &__header {
        margin:0px 0px 25px 0px;
        //Переводим в REM делим ширину по макету (750рх) на 
        // 16 (размер шрифта по умолчанию)
        max-width: 46.875rem;
    }

    &__subtitle {
        color:rgb(160,139,188);
        font-weight: 700;
        text-transform: uppercase;
        //Переводим в REM делим размер по макету (14рх)
        //на 16 (размер шрифта по умолчанию)
        font-size: 0.875rem;
        //Переводи в % либо части 
        //делим размер по макету (24рх)
        //на размер шрифта (14рх)
        line-height: 1.7;
        //Переводим в EM делим размер по макету (15рх) на размер шрифта (14рх)
        margin:0px 0px 1.07em 0px;
    }

    &__title {
        color:rgb(155,175,143);
        text-transform: uppercase;
        font-weight: 700;
        //Переводим в REM делим размер по макету (42рх)
        // на 16 (размер шрифта по умолчанию)
        font-size: 2.625rem;
        //Переводим в % либо части делим размер по макету (50px) 
        //на размер шрифта (42рх)
        line-height: 1.19;
        //Переводим в EM делим размер по макету (16рх) 
        //на размер шрифта (42рх)
        margin:0px 0px 0.38em 0px;
        //Переводим в EM делим размер по макету (5рх) 
        //на размер шрифта (42рх)
        letter-spacing: 0.12em;
    }

    &__text {
        //Переводи в % либо части 
        //делим размер по макету (24рх)
        //на размер шрифта (14рх)
        line-height: 1.5;
    }
// Структура карточек
    &__items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        margin: 0px -12px;
    }

    &__item {
        padding: 0px 12px;
        //Получаем размер в %
        //делаем общую ширину  100% на три
        flex: 1 1 33.333%;
        //Переводим в REM делим нужный размер (290px)
        //на 16 (размер шрифта по умолчанию)
        min-width: 18.125rem;
    }
}

// Карточка
.itemExample {
    display: flex;
    column-gap: 23px;
    &__icon {
        flex: 0 0 63px;
        border-radius: 50%;
        overflow: hidden;
        align-self:flex-start;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__body {}

    &__title {
        color: rgb(240,112,111);
        font-weight: 700;
        //Переводим в REM делим размер по макету (24рх)
        // на 16 (размер шрифта по умолчанию)
        font-size: 1.5rem;
        //Переводим в EM делим размер по макету (11рх) 
        //на размер шрифта (24рх)
        margin:0px 0px 0.45em 0px;
    }

    &__text {
        //Переводи в % либо части 
        //делим размер по макету (24рх)
        //на размер шрифта (16рх)
        line-height: 1.5;
    }
}